/*.branding{
  font-family: Georgia, serif !important;
}

*{
  font-family:"Calibri" !important;
}
*/
.listed-text2 {
	display: block !important;
}

.services .serv-field .serv-cont .more {
    justify-content: flex-center !important;
}

.sli{
  font-size: 38px !important;
}

.logo{
	width: 132px !important;
	height: 60px !important;
}

.navbar-desktop ul a.nav-link{
	font-size: 20px !important;
}

.mapouter{position:relative;text-align:right;width:100%;height:527px;}
.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:527px;}
.gmap_iframe {height:527px!important;}

.cookie-consent{
  position: fixed;
bottom: 8px;
left: 20px;
width: 260px;
padding-top: 7px;
height: 100px;
color: #fff;

line-height: 20px;
padding-left: 10px;
padding-right: 10px;
font-size: 14px;
background: #292929;
z-index: 120;
cursor: pointer;
border-radius: 3px;
}

.allow-button{
      height: 20px;
    width: 104px;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    border-radius: 3px;
    border: 1px solid #00a8ff;
    background-color: #00a8ff;
}

.d-none{
	display: none;
}

.close-cookies{
	background-color: red;
	border: 1px solid red;
}

.d-block{
	display: block;
}




